<html>

<head>
  <title>湯群漫畫推薦網
  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Noto+Serif+TC" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <!-- <script src="jquery.tagsinput.js"></script>
  <link rel="stylesheet" type="text/css" href="jquery.tagsinput.css" /> -->
  <script src="jquery.tagsinput-revisited.js"></script>
  <link rel="stylesheet" type="text/css" href="jquery.tagsinput-revisited.css">

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <style media="screen">
    body {

      font-family: 'Noto Sans TC', sans-serif;

    }

    .cursor_pointer{
        cursor:pointer;
    }

    .ui-autocomplete {
  position: absolute;
  z-index: 99999 !important;
  cursor: default;
  padding: 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete>li {
  padding: 3px 20px;
}

.ui-autocomplete>li.ui-state-focus {
  background-color: #DDD;
}

.ui-helper-hidden-accessible {
  display: none;
}

  </style>

</head>

<body>
  <!-- 導覽列 -->
  <div id="mainBody">
    <navbar-item
    :now-at-comic='nowAtComic'
    :loading='loading'
    :dev='dev'
    @now-at-comic-false='nowAtComic = false'
    @now-at-comic-true='nowAtComic = true'
    @dev = 'dev = !dev'
    @clear-text = "searchText.length != 0 ? searchText = '' : search('reload')"
    @get-search='search'
    :value-input="searchText"
    @text-input="searchText = $event"

    :value-select="searchType"
    @select-change="searchType = $event"
    ></navbar-item>

    <!-- 搜尋Modal -->
    <div class="modal fade" id="comicDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <modal-item>
        <div class="modal-body" id='comicDetail'>

          <div class="media">
            <img class="col-4" :src="selectSearchData.BigPic" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">{{selectSearchData.Title}}</h5>
              <p>{{selectSearchData.Author.join()}}</p>
              <p><span class="book-list-info-bottom-item" id="selectCategorys">{{selectSearchData.Categorys}}</span>

                <span class="badge badge-pill badge-primary" v-show="selectSearchData.Status === '已完结'">已完結</span>
              </p>
            </div>
          </div>

          <p class="book-list-info-desc" id="selectContent">{{selectSearchData.Content}}</p>
        </div>

        <form class="px-2">

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="login_field">推薦者<span class="text-danger"><small>(必填)</small></span></label>
              <input type="text" name="login" class="form-control" v-model="comment.userName" placeholder="請盡量保持名稱一致">
            </div>

            <div class="form-group col-md-6">
              <label for="stars">推薦星數<span class="text-danger"><small>(必填)</small></span></label>
              <p>
                <span @click='comment.stars = -10' id='start1' class='cursor_pointer' :class="parseInt(comment.stars)<0 ?'text-danger':''">{{parseInt(comment.stars)<0 ?'💀' :'💀'}}</span>

                <span @click='comment.stars = 1' id='start1' class='cursor_pointer' :class="parseInt(comment.stars)>=1 ?'text-warning':''">{{parseInt(comment.stars)>=1 ?'★' :'☆'}}</span>
                <span @click='comment.stars = 2' id='start2' class='cursor_pointer' :class="parseInt(comment.stars)>=2 ?'text-warning':''">{{parseInt(comment.stars)>=2 ?'★' :'☆'}}</span>
                <span @click='comment.stars = 3' id='start3' class='cursor_pointer' :class="parseInt(comment.stars)>=3 ?'text-warning':''">{{parseInt(comment.stars)>=3 ?'★' :'☆'}}</span>
                <span>{{(comment.stars < 0)?'（幹你娘雷暴）':''}}{{(comment.stars == 1)?'（不錯看。）':''}}{{(comment.stars == 2)?'（超好看！）':''}}{{(comment.stars == 3)?'（人生必看！！）':''}}</span></p>
              <!-- <input type="text" id="starsInput" v-model='comment.stars' value="0" style="display:none"  {{true?★:☆}}> -->
            </div>
          </div>
          <div class="form-group">
            <label for="tags">標籤<span class="text-danger"><small>(必填)</small></span></label>
            <input type="text" name="tags" id="tags">
            <p>熱門標籤：
              <button type="button" class="btn btn-sm mr-1 mt-1" :class="parseInt(tag[1]) > 5 ? 'btn-warning' :   (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')" v-for="tag in tagsShow" @click="addTag(tag[0])">
                {{tag[0]}} <span class="badge badge-light">{{tag[1]}}</span>
              </button>
              <small class="text-muted cursor_pointer" v-show="!comment.tagsShowMoreOrNot" @click='comment.tagsShowMoreOrNot = true'>展開全部…</small>

              <button type="button" class="btn btn-sm mr-1 mt-1" :class="parseInt(tag[1]) > 5 ? 'btn-warning' :   (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')" v-show="comment.tagsShowMoreOrNot" v-for="tag in tagsHide" @click="addTag(tag[0])">
                {{tag[0]}} <span class="badge badge-light">{{tag[1]}}</span>
              </button>

            </p>
          </div>

          <div class="form-group">
            <label for="userComment">推薦簡介</label>
            <textarea class="form-control" v-model="comment.userComment" rows="3"></textarea>
          </div>

          <div class="form-group row">
            <label for="deletePw" class="col-sm-2 col-form-label">文章密碼</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" v-model='comment.pw' placeholder="修改或刪除評論時需要的一次性密碼">
            </div>
          </div>

        </form>

        <div class="modal-footer">
          <span class="text-danger">{{comment.warning}}</span>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <button type="button" class="btn" :class="[ loading? 'btn-secondary': 'btn-primary' ]" id="sendComment" @click="sendComment('addComic')" :disabled="loading">{{loading?'處理中……':'確定送出'}}</button>
        </div>

      </modal-item>
    </div>




    <!-- 評論Modal -->
    <div class="modal fade" id="comiccommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <modal-item>
        <div class="modal-body" id='comicDetail'>

          <div class="media">
            <img class="col-4" :src="selectCommentData.BigPic" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">{{selectCommentData.Title}}</h5>
              <p>{{selectCommentData.Author}} <a :href="'https://www.manhuaren.com' + selectCommentData.Url" target="_blank">漫畫人連結</a></p>
              <p class="card-subtitle mb-2 text-muted">推薦人：<span class="cursor_pointer" @click="userNameC = selectCommentData.userName,searchText=userNameC,searchType='user',closeCommentM()">{{selectCommentData.userName}}</span>

                <template v-if="selectCommentData.stars > 0">
                  <span class='text-warning' v-for="n in Math.round(selectCommentData.stars)">★</span>
                  <span v-for="n in 3-Math.round(selectCommentData.stars)">☆</span>
                </template>
                <span v-else class='text-danger'>💀💀💀</span>

              </p>
              <!-- <p></p> -->
              <span class="cursor_pointer badge badge-secondary text-white mr-1 mt-1" @click="searchType='tag',searchText=tag,closeCommentM()" v-for="tag in selectCommentData.tags.split(',')">{{tag}}</span>
            </div>
          </div>
          <ul class="list-group mt-1">
            <comment-item v-for="(comment,index) in commentFlited" :comment="comment" :index="index" :type="commentComicData.type" @change-comment='changeComment($event)' @delete-comment='deleteComment($event)'></comment-item>

            <a class="list-group-item list-group-item-action list-group-item-success text-center" data-toggle="collapse" href="#commentForm" role="button" aria-expanded="false" v-show="commentComicData.type == 'addComment'">
              我也要留言
            </a>

          </ul>
        </div>


        <div class="collapse" id="commentForm">
          <form id="comment" class="px-2">



            <div class="form-row" v-show="commentComicData.type != 'delete'">
              <div class="form-group col-md-6">
                <label for="login_field">推薦者<span class="text-danger"><small>(必填)</small></span></label>
                <input type="text" name="login" class="form-control" v-model="comment.userName" placeholder="請盡量保持名稱一致">
              </div>

              <div class="form-group col-md-6">
                <label for="stars">推薦星數</label>
                <p>
                  <span @click='comment.stars = -10' id='start1' class='cursor_pointer' :class="parseInt(comment.stars)<0 ?'text-danger':''">{{parseInt(comment.stars)<0 ?'💀' :'💀'}}</span>

                  <span @click='comment.stars = 1' id='start1' class='cursor_pointer' :class="parseInt(comment.stars)>=1 ?'text-warning':''">{{parseInt(comment.stars)>=1 ?'★' :'☆'}}</span>
                  <span @click='comment.stars = 2' id='start2' class='cursor_pointer' :class="parseInt(comment.stars)>=2 ?'text-warning':''">{{parseInt(comment.stars)>=2 ?'★' :'☆'}}</span>
                  <span @click='comment.stars = 3' id='start3' class='cursor_pointer' :class="parseInt(comment.stars)>=3 ?'text-warning':''">{{parseInt(comment.stars)>=3 ?'★' :'☆'}}</span>
                  <span>{{(comment.stars < 0)?'（幹你娘雷暴）':''}}{{(comment.stars == 1)?'（不錯看。）':''}}{{(comment.stars == 2)?'（超好看！）':''}}{{(comment.stars == 3)?'（人生必看！！）':''}}</span></p>

              </div>
            </div>
            <div class="form-group" v-show="commentComicData.type != 'delete'">
              <label for="tags">新增/刪除標籤<span class="text-danger"><small>(不想更改就不動就好)</small></span></label>
              <input type="text" name="tags" id="tagscomment">
              <p>熱門標籤：
                <button type="button" class="btn btn-sm mr-1 mt-1" :class="parseInt(tag[1]) > 5 ? 'btn-warning' :   (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')" v-for="tag in tagsShow" @click="addTagcomment(tag[0])">
                  {{tag[0]}} <span class="badge badge-light">{{tag[1]}}</span>
                </button>
                <small class="text-muted cursor_pointer" v-show="!comment.tagsShowMoreOrNot" @click='comment.tagsShowMoreOrNot = true'>展開全部…</small>

                <button type="button" class="btn btn-sm mr-1 mt-1" :class="parseInt(tag[1]) > 5 ? 'btn-warning' :   (parseInt(tag[1]) > 1 ? 'btn-info' : 'btn-secondary')" v-show="comment.tagsShowMoreOrNot" v-for="tag in tagsHide" @click="addTagcomment(tag[0])">
                  {{tag[0]}} <span class="badge badge-light">{{tag[1]}}</span>
                </button>

              </p>
            </div>

            <div class="form-group" v-show="commentComicData.type != 'delete'">
              <label for="userComment">留言內容</label>
              <textarea class="form-control" v-model="comment.userComment" rows="3"></textarea>
            </div>


            <div class="form-group row">
              <label for="deletePw" class="col-sm-2 col-form-label">文章密碼</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" v-model='comment.pw' placeholder="修改或刪除評論時需要的一次性密碼">
              </div>
            </div>

          </form>

          <div class="modal-footer">
            <span class="text-danger">{{comment.warning}}</span>
            <button type="button" class="btn btn-secondary" @click="closeComment()">取消</button>
            <button type="button" class="btn" :class="[ loading? 'btn-secondary': 'btn-primary' ]" id="sendComment" @click="sendComment(commentComicData.type)" :disabled="loading">{{loading?'處理中……':'確定送出'}}</button>
          </div>
        </div>
      </modal-item>
    </div>



    <!-- 主要顯示頁面在此 -->
    <div class="container" v-show="reloadOrNot">
      <div class='row'>
        <div class="input-group mx-1 mt-1">
          <select class="custom-select" v-model='sortBy'>
            <option value="time">依照建立時間排序</option>
            <option value="stars">依照平均星數排序</option>
            <option value="comments">依照評論數量排序</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" @click="sortType = !sortType" id="button-addon2">{{sortShow}}</button>
          </div>
        </div>
      </div>
      <div class='row'>
        <comic-card-item @comic-detail-select='opencommentDetail($event)' v-for="(comic,index) in comicsListFilted" :comic="comic" :index="index" :full-width="fullWidth" @tag-select="searchType='tag',searchText=$event" @user-select="searchType='user',searchText=$event">
        </comic-card-item>
      </div>
    </div>

    <div class="container" v-show="!nowAtComic">
      <p v-show="(searchComicsList.length === 0 && !loading) || searchError" :class="searchError?'text-danger':''"> {{searchError?'※燈愣，壓力測試沒過。Google免費伺服超過使用上限了，看看之後會不會好※':'(請於搜尋框內輸入欲新增的漫畫關鍵字)'}} </p>
      <div class='row'>
        <searchcomic-card-item @search-select='openSearchDetail($event)' v-for="(comic,index) in searchComicsList" :comic="comic" :index="index">
        </searchcomic-card-item>
      </div>
      <button class="btn col-md-12 pt-2" v-show="searchComicsList.length != 0" @click="search()" :disabled="loading">{{loading?'讀取中……':'載入更多'}}</button>
    </div>

  </div>
</body>




<script type="text/javascript">
  window.onload = function() {
    Vue.component('navbar-item', {

      props: [
        'nowAtComic',
        'valueInput',
        'valueSelect',
        'loading',
        'dev'
      ],
      computed: {
        tangLoading: function() {

        }
      },
      methods: {
        openModel: function() {
          $('#comiccommentModal').modal('show');
        }
      },



      template: `
      <nav class="navbar navbar-expand-sm  navbar-dark bg-dark sticky-top" id='navBar'>
        <a v-show="!loading" class="navbar-brand text-light cursor_pointer" @click="$emit('clear-text')" >{{valueInput.length != 0?'×':'湯'}}</a>
        <a v-show="loading" class="spinner-border text-light"></a>
        <button class="navbar-toggler" :class="valueInput.length != 0 ? 'bg-warning':''" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item cursor_pointer" :class="[ nowAtComic? 'active': '' ]">
              <a class="nav-link cursor_pointer" @click="$emit('now-at-comic-true')">漫畫一覽 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item cursor_pointer" :class="[ !nowAtComic? 'active': '' ]">
              <a class="nav-link cursor_pointer" @click="$emit('now-at-comic-false')">新增漫畫</a>
            </li>

          </ul>



          <form class="form-inline my-2 my-lg-0" @submit.prevent>
            <div class="input-group">

                <select v-show="nowAtComic" class="custom-select col-4" :value="valueSelect" @input="$emit('select-change', $event.target.value)">
                  <option value="name">漫畫名稱</option>
                  <option value="user">推薦人</option>
                  <option value="tag">標籤</option>
                </select>

              <input type="search" class="form-control" :value="valueInput" @input="$emit('text-input', $event.target.value)" @keyup.enter="$emit('get-search')" placeholder="請輸入漫畫名稱/作者">
              <div class="input-group-append">
                <button class="btn btn-light" type="button" :disabled="(loading || valueInput.length === 0)" @click="$emit('get-search')">搜尋</button>
              </div>
            </div>
          </form>

        </div>
      </nav>
      `
    });



    Vue.component('comic-card-item', {
      props: ['comic', 'index', 'fullWidth'],
      computed: {
        isNew: function() {
          var now = new Date();
          var postTime = new Date(this.comic[8]);
          if (parseInt(now - postTime) / 3600000 < 24) return true;
          else return false;
        }
      },
      template: `
      <div :class=" fullWidth > 576 ? 'col-md-6 col-lg-4 pt-1 px-1' : 'col-6 col-md-4 col-lg-3 pt-1 px-1' ">
        <div class="card" :class="comic[5] > 0 ? '':'bg-warning'">

          <div v-if="fullWidth > 576" class="card-body" @click="$emit('comic-detail-select', index)">

            <div class="media">
              <img class="col-5" :src="comic[6]" alt="Generic placeholder image">
              <div class="media-body col-7">
                <h6 class="card-title" :class="comic[5] > 0 ? '':'text-danger'">{{comic[1]}}
                <span class="badge badge-danger" v-if="isNew">NEW</span>
                </h6>
                <p class="card-subtitle mb-2 text-muted">推薦人：{{comic[3]}}</p>
                <template v-if="comic[5] > 0">
                  <span class='text-warning' v-for="n in Math.round(comic[5])">★</span>
                  <span v-for="n in 3-Math.round(comic[5])">☆</span><span>({{comic[5]}})</span>
                </template>
                <span v-else class="text-danger">💀💀💀</span>
                <p :class="comic[5] > 0 ? '':'text-black'">{{comic[9]}}則評論。</p>
              </div>
            </div>
          </div>

          <div v-else class="card-body p-2" @click="$emit('comic-detail-select', index)">

            <img class="col px-1" :src="comic[6]" alt="Generic placeholder image" style="height : 192 px">

            <h6 class="card-title mt-1" :class="comic[5] > 0 ? '':'text-danger'">{{comic[1]}}
            <span class="badge badge-danger" v-if="isNew">NEW</span>
            </h6>
            <p class="card-subtitle mb-2 text-muted">推薦人：{{comic[3]}}</p>
            <div class="d-flex">
              <template v-if="comic[5] > 0">
                <span class='text-warning' v-for="n in Math.round(comic[5])">★</span>
                <span v-for="n in 3-Math.round(comic[5])">☆</span><span class="mr-auto">({{comic[5]}})</span>
              </template>
              <span v-else class="text-danger mr-auto">💀💀💀</span>

              <span class="mb-1" :class="comic[5] > 0 ? 'text-primary':''">💬</span><span>({{comic[9]}})</span>
            </div>
          </div>



          <div class="card-footer" :class=" fullWidth > 576 ? '' : 'p-2'">
            <a class="cursor_pointer badge text-white mr-1 mt-1" :class="comic[5] > 0 ? 'badge-secondary':'badge-danger'" @click="$emit('tag-select', tag)" v-for="tag in comic[4].split(',')">{{tag}}</a>
          </div>
        </div>
      </div>
      `
    });

    Vue.component('comment-item', {
      data: function() {
        return {
          goDown: false
        }
      },

      props: ['comment', 'index', 'type'],
      methods: {
        changeComment: function() {
          this.goDown = true;
          this.$emit('change-comment', this.comment[0]);
        },
        deleteComment: function() {
          this.goDown = true;
          this.$emit('delete-comment', this.comment[0]);
        }
      },
      computed: {
        select: function() {
          if (this.type === 'addComment') {
            this.goDown = false;
          }
          return this.goDown;
        }
      },
      template: `

      <li class="list-group-item" :class="select?'list-group-item-success':''">
        <div class="d-flex">
        <span class="mr-auto"><strong>{{comment[3]}}</strong>
          <span v-show='comment[2] != 0'>

            (
              <template v-if="comment[2] > 0">
                <span class='text-warning' v-for="n in Math.round(comment[2])">★</span>
                <span v-for="n in 3-Math.round(comment[2])">☆</span>
              </template>
              <span v-else class='text-danger'>💀💀💀</span>

          )
          </span>
          ：
        </span>
        <span class="align-middle">
          <a class="badge badge-primary text-white cursor_pointer" @click="changeComment()">修改</a>
          <a class="badge badge-danger text-white cursor_pointer" @click="deleteComment()">刪除</a>
        </span>
        </div>
        <span style="white-space: pre-wrap;">{{select?'已選擇此評論，請向下捲動到最底':comment[4]}}</span>


      </li>
      `
    });

    Vue.component('modal-item', {
      data: function() {
        return {}
      },
      props: ['modal-id'],
      template: `

        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">選擇的漫畫</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <slot></slot>

          </div>
        </div>

      `
    });

    Vue.component('searchcomic-card-item', {
      props: ['comic', 'index'],
      template: `
      <div class="col-6 col-sm-4 col-md-3 pt-1">
        <div class="card text-center" style="//width: 18rem;" @click="$emit('search-select', index)">
          <img class="card-img-top" :src="comic.BigPic">
          <div class="card-body">
            <p class="card-text text-truncate">{{comic.Title}}<br><span class="text-muted">{{comic.Author.join()}}</span></p>
            <p class="badge badge-pill badge-primary" v-show="comic.Status === '已完结'">已完結</p>

          </div>
          <!--<div class="card-footer bg-success text-white cursor_pointer"
          @click="$emit('search-select', index)"
          >

            選擇漫畫
          </div> -->
        </div>
      </div>
      `
    });

    var vm = new Vue({
      el: '#mainBody',
      data: {
        nowAtComic: true,
        searchText: '',
        searchType: 'name',

        searchError: false,

        sortBy: 'time',
        sortType: true,

        userNameC: '',
        loading: false,
        dev: false,

        comicsList: [],
        searchComicsList: [],
        ajaxData: [],

        searchComicData: {
          loadPage: 1,
          comicName: '',
          select: 0,
          tagsOn: false,
        },
        commentComicData: {
          type: 'addComment',
          fType: '',
          ft: '',
          select: 0,
          tagsOn: false,
        },

        comment: {
          userName: '',
          stars: 0,
          tags: '',
          userComment: '',
          pw: '',
          warning: '',
          tagsOn: false,
          tagsShowMoreOrNot: false,
          Id: 0
        },
        comments: [],
        tags: [],
        showOrNot: false
      },
      mounted() {
        this.fullWidth = window.innerWidth;
        //this.fullHeight = window.innerHeight;
        window.onresize = () => {
          this.fullWidth = window.innerWidth;
          //this.fullHeight = window.innerHeight;
        };
      },
      created() {

      },
      methods: {
        openSearchDetail: function(num) {
          this.searchComicData.select = num;
          if (this.searchComicData.tagsOn === false) {
            $('#tags').tagsInput({
              'unique': true,
              autocomplete: {
                'source': this.tags.map(function(value) {
                  return value[0];
                })
              }
            });
            this.searchComicData.tagsOn = true;
          }
          this.getTags();
          this.comment.warning = '';
          this.comment.tagsShowMoreOrNot = false;
          $('#comicDetailModal').modal('show');
        },

        opencommentDetail: function(num) {
          this.commentComicData.select = num;

          $('#comiccommentModal').modal('show');

          this.commentComicData.type = 'addComment';
          this.comment.stars = 0;
          this.comment.userComment = '';
          $('#commentForm').collapse('hide');
          if (this.commentComicData.tagsOn === false) {
            $('#tagscomment').tagsInput({
              'unique': true,
              autocomplete: {
                'source': this.tags.map(function(value) {
                  return value[0];
                })
              }
            });
            this.commentComicData.tagsOn = true;
          }

          $('#tagscomment').importTags(this.selectCommentData.tags);
          this.comment.warning = '';
          this.comment.tagsShowMoreOrNot = false;
          this.commentComicData.fType = 'Id';
          this.commentComicData.ft = this.selectCommentData.Id;
          //console.log(this.commentComicData);

        },

        // TAG相關
        addTag: function(tag) {
          $('#tags').addTag(tag);
        },
        addTagcomment: function(tag) {
          $('#tagscomment').addTag(tag);
        },
        getTags: function() {
          appUrl = 'https://script.google.com/macros/s/AKfycbzshA7Vgj-ff3dIeizZQhuX7yvNndNCemG1cFTxPWJlliSlA55_/exec';
          var getBody = {
            type: 'searchTags'
          };
          //發送get請求
          this.$http.get(appUrl, {
            params: getBody
          }).
          then(function(res) {
            //console.log(res);
            var ajaxData = res.body;
            this.tags = ajaxData;
            //console.log(this.tags);
          }, function() {
            console.log('請求失敗處理');
            this.loading = false;
          });
        },

        //comment 相關
        getComments: function() {
          appUrl = 'https://script.google.com/macros/s/AKfycbzshA7Vgj-ff3dIeizZQhuX7yvNndNCemG1cFTxPWJlliSlA55_/exec';
          this.loading = true;
          var getBody = {
            type: 'commentList'
          };
          //發送get請求
          this.$http.get(appUrl, {
            params: getBody
          }).
          then(function(res) {
            //console.log(res);
            var ajaxData = res.body;
            this.comments = ajaxData;
            //console.log(this.comments);
            this.loading = false;
          }, function() {
            console.log('請求失敗處理');
            this.loading = false;
          });
        },
        closeComment: function() {
          this.commentComicData.type = 'addComment';
          this.comment.stars = 0;
          this.comment.userComment = '';
          $('#commentForm').collapse('hide');
        },
        closeCommentM: function() {
          $('#comiccommentModal').modal('hide');
        },

        addComment: function() {
          this.commentComicData.type = 'addComment';
          this.comment.stars = 0;
          this.comment.userComment = '';
          $('#commentForm').collapse('show');
        },
        changeComment: function(id) {
          this.commentComicData.type = 'changeComment';
          var selectComment = this.comments.filter(function(value) {
            return value[0] == id;
          });
          this.comment.Id = id;
          this.comment.userName = selectComment[0][3];
          this.comment.stars = selectComment[0][2];
          this.comment.userComment = selectComment[0][4];
          $('#commentForm').collapse('show');
        },
        deleteComment: function(id) {
          this.commentComicData.type = 'delete';
          this.comment.Id = id;
          $('#commentForm').collapse('show');
        },

        search: function(type) {
          this.loading = true;
          appUrl = 'https://script.google.com/macros/s/AKfycbzshA7Vgj-ff3dIeizZQhuX7yvNndNCemG1cFTxPWJlliSlA55_/exec';

          if (type == 'reload') {
            var getBody = {
              type: 'comicList'
            };
          } else if (!this.nowAtComic) {
            if (this.searchComicData.comicName !== this.searchText) {
              this.searchComicData.comicName = this.searchText;
              this.searchComicData.loadPage = 1;
              this.searchComicsList = [];
            }
            var getBody = {
              type: 'searchComic',
              searchComic: this.searchComicData.comicName,
              loadPage: this.searchComicData.loadPage
            };
          } else {
            var getBody = {
              type: 'comicList'
            };
          }

          //發送get請求
          this.$http.get(appUrl, {
            params: getBody
          }).
          then(function(res) {
            //console.log(res);
            this.ajaxData = res.body;
            if (this.nowAtComic || type == 'reload') {
              this.comicsList = this.ajaxData;
            } else {
              this.searchComicsList = this.searchComicsList.concat(this.ajaxData);
              this.searchComicData.loadPage++;
            }
            this.ajaxData = [];
            this.loading = false;

          }, function() {
            console.log('請求失敗處理');
            this.loading = false;
            this.searchError = true;
          });
        },

        sendComment: function(type) {

          if (type === 'addComic') {
            this.comment.tags = $('#tags').val();
          } else {
            this.comment.tags = $('#tagscomment').val();
          }


          if (this.comment.stars == 0 && type == 'addComic') {
            this.comment.warning = '請選擇推薦星數。';
          } else if (this.comment.tags.length == 0 && type == 'addComic') {
            this.comment.warning = '請至少選擇一個標籤。';
          } else if (this.comment.userName.length == 0 && type != 'delete') {
            this.comment.warning = '請輸入推薦人。';
          } else if (this.comment.stars == 0 && this.comment.userComment.length == 0 && type != 'delete') {
            this.comment.warning = '星數和留言內容至少擇一輸入。';
          } else {
            this.loading = true;
            appUrl = 'https://script.google.com/macros/s/AKfycbzshA7Vgj-ff3dIeizZQhuX7yvNndNCemG1cFTxPWJlliSlA55_/exec';

            if (type === 'addComic') {
              var postBody = {
                type: type,
                userName: this.comment.userName,
                stars: this.comment.stars,
                tags: this.comment.tags,
                pw: this.comment.pw,
                userComment: this.comment.userComment,
                title: this.selectSearchData.Title,
                author: this.selectSearchData.Author.join(),
                url: this.selectSearchData.Url,
                bigPic: this.selectSearchData.BigPic,
                id: this.selectSearchData.Id,
                AddTime: String(Date()),
                Pic: this.selectSearchData.Pic,
              };
            } else if (type === 'addComment') {
              var postBody = {
                type: type,
                userName: this.comment.userName,
                stars: this.comment.stars,
                tags: this.comment.tags,
                pw: this.comment.pw,
                userComment: this.comment.userComment,
                id: this.selectCommentData.Id,
              };
            } else if (type === 'changeComment') {
              var postBody = {
                type: type,
                userName: this.comment.userName,
                stars: this.comment.stars,
                tags: this.comment.tags,
                pw: this.comment.pw,
                userComment: this.comment.userComment,
                id: this.comment.Id,
              };
            } else if (type === 'delete') {
              var postBody = {
                type: type,
                userName: this.comment.userName,
                pw: this.comment.pw,
                id: this.comment.Id,
              };
            }

            //發送post請求
            this.$http.post(appUrl, postBody, {
              emulateJSON: true
            }).
            then(function(res) {
              //console.log(res);
              this.loading = false;

              var ajaxData = res.body;
              if (ajaxData.state === 'success') {
                this.comment.stars = 0;
                this.comment.tags = '';
                this.comment.userComment = '';
                this.comment.tagsShowMoreOrNot = false;


                this.comment.warning = '';
                if (type === 'addComic') {
                  $('#tags').importTags('');
                  $('#comicDetailModal').modal('hide');
                } else {
                  this.commentComicData.type = 'addComment';
                  this.getTags();
                  this.getComments();
                  //this.search('reload');
                  $('#commentForm').collapse('hide')
                }
              } else if (ajaxData.state === 'duplicated') {
                this.comment.warning = '書單裡面已有這本漫畫囉，去留言吧！';
              } else if (ajaxData.state === 'pwWrong') {
                this.comment.warning = '密碼錯誤！';
              } else if (ajaxData.state === 'noPw') {
                this.comment.warning = '文章沒有密碼，修改失敗。';
              } else {
                this.comment.warning = ajaxData.state;
              }
            }, function() {
              console.log('請求失敗處理');
              this.loading = false;
              this.comment.warning = '出現不明錯誤，建議通知阿歐西。';
            });
          }


        }
      },
      computed: {

        tagsShow: function() {
          var tempArr = this.tags.slice(0);
          tempArr.splice(15);
          return tempArr;
        },
        tagsHide: function() {
          var tempArr = this.tags.slice(0);
          return tempArr.splice(15);
        },

        reloadOrNot: function() {
          if (this.nowAtComic) {
            this.search('reload');
            this.getComments();
            this.getTags();
            return true;
          }
          return false;
        },
        commentFlited: function() {
          var commentArr = this.comments.slice(0);
          var ft = this.commentComicData.ft;
          if (this.commentComicData.fType === 'Id') {
            return commentArr.filter(
              function(value) {
                return (value[1] == ft && value[5] == 0) ? true : false;
              });
          }
          return commentArr;
        },
        selectSearchData: function() {
          if (this.searchComicsList.length != 0) {
            return this.searchComicsList[this.searchComicData.select];
          }
          return {
            "Id": 40420,
            "Author": ["天"],
            "Url": "/manhua/",
            "Pic": "http://mhfm4218us.cdndm5.com/41/40420/20181011103215_320x246_40.jpg",
            "Title": "金田一",
            "LastUpdateInfo": "第31话",
            "LastPartShowName": "第31话",
            "Mid": 40420,
            "ReadUrl": "",
            "BigPic": "http://mhfm6218us.cdndm5.com/41/40420/20181011103128_180x240_24.jpg",
            "Content": "全新的“金田一”",
            "TagList": ["悬疑"],
            "LastPartUrl": "m819080",
            "AuthorUrl": ["/"],
            "LastPartTime": "2019-05-10",
            "AddTime": "2018-01-21",
            "Categorys": "少年热血,侦探推理",
            "Score": null,
            "Status": "连载中"
          };

        },

        selectCommentData: function() {
          if (this.comicsListFilted.length > this.commentComicData.select) {
            //console.log(this.comicsListFilted);
            var selectComic = this.comicsListFilted[this.commentComicData.select];

            return {
              Id: selectComic[0],
              Title: selectComic[1],
              Author: selectComic[2],
              userName: selectComic[3],
              tags: selectComic[4],
              stars: selectComic[5],
              BigPic: selectComic[6],
              Url: selectComic[7],
              AddTime: selectComic[8]
            }
          }
          return {
            "Id": 40420,
            "Author": "天",
            "Url": "/manhua/",
            "Title": "金田一",
            "stars": 1,
            "BigPic": "http://mhfm6218us.cdndm5.com/41/40420/20181011103128_180x240_24.jpg",
            "Pic": "http://mhfm6218us.cdndm5.com/7/6213/20160906153542_320x246_36.jpg",
            "userName": "全新的“金田一”",
            "tags": "悬疑",
            "LastPartTime": "2019-05-10",
            "AddTime": "2018-01-21"
          };
        },
        sortShow: function() {
          if (this.sortBy === 'time') {
            return this.sortType ? '新到舊' : '舊到新';
          } else {
            return this.sortType ? '多到少' : '少到多';
          }

        },
        comicsListFilted: function() {
          var comicList = this.comicsList.slice(0);

          var text = this.searchText.toLowerCase();
          if (this.sortBy === 'time') {
            if (this.sortType) comicList.reverse();
          } else if (this.sortBy === 'stars') {
            comicList.reverse();
            if (this.sortType) {
              comicList.sort(function(a, b) {
                if (a[5] > b[5]) return -1;
                else if (a[5] < b[5]) return 1;
                else if (a[9] > b[9]) return -1;
                else if (a[9] < b[9]) return 1;
                else return 0;
              });
            } else if (!this.sortType) {
              comicList.sort(function(a, b) {
                if (a[5] > b[5]) return 1;
                else if (a[5] < b[5]) return -1;
                else if (a[9] > b[9]) return -1;
                else if (a[9] < b[9]) return 1;
                else return 0;
              });
            }
          } else if (this.sortBy === 'comments') {
            comicList.reverse();
            if (this.sortType) {
              comicList.sort(function(a, b) {
                if (a[9] > b[9]) return -1;
                else if (a[9] < b[9]) return 1;
                else if (a[5] > b[5]) return -1;
                else if (a[5] < b[5]) return 1;
                else return 0;
              });
            } else if (!this.sortType) {
              comicList.sort(function(a, b) {
                if (a[9] > b[9]) return 1;
                else if (a[9] < b[9]) return -1;
                else if (a[5] > b[5]) return -1;
                else if (a[5] < b[5]) return 1;
                else return 0;
              });
            }
          }


          if (!this.nowAtComic || text.length == 0) return comicList;
          var dis = false;
          if (text.match(/^-/) != null) {
            dis = true;
            text = text.replace(/^-/, '');
          }


          if (this.searchType === 'name') {
            return comicList.filter(function(value) {
              var tempBool = (String(value[1]).toLowerCase().indexOf(text) != -1 || String(value[2]).toLowerCase().indexOf(text) != -1);
              return (dis ? !tempBool : tempBool);
            });
          } else if (this.searchType === 'user') {
            return comicList.filter(function(value) {
              var tempBool = String(value[3]).toLowerCase().indexOf(text) != -1;
              return (dis ? !tempBool : tempBool);
            });
          } else if (this.searchType === 'tag') {
            return comicList.filter(function(value) {
              var tempBool = String(value[4]).toLowerCase().indexOf(text) != -1;
              return (dis ? !tempBool : tempBool);
            });
          }
        },
      }
    });
  }
</script>

</html>